{
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react-hooks",
    "jest-dom",
    "testing-library"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/recommended"
  ],

  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {},
      "alias": [
        ["@/generated/*", "src/generated/*"],
        ["@/pages/*", "src/pages/*"],
        ["@/components/*", "src/components/*"],
        ["@/lib/*", "src/lib/*"],
        ["@/hooks/*", "src/hooks/*"],
        ["@/utils*", "src/utils*"],
        ["@/types/*", "src/types/*"],
        ["@/styles/*", "src/styles/*"],
        ["@/assets/*", "src/assets/*"]
      ]
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "testing-library/no-debug": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/no-children-prop": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/array-callback-return": "off",
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
